.first-datatable-col {
  height: 43px;
  width: 100%;
  padding-left: 28px;
  display: flex;
  align-items: center;
  justify-items: start;
}

.datatable-col {
  height: 43px;
  width: 100%;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-items: start;
}