// https://swimlane.gitbook.io/ngx-datatable/readme/themes

:host {
  display: block;
  height: 100%;
  width: 100%;
}

::ng-deep {
  .datatable-header {
    background-color: #F9F9F9;
    border-style: solid !important;
    border: 1px;
    border-radius: 4px;
    border-color: #F0F0F0;

    datatable-header-cell {
      background-color: #F9F9F9;
      padding-top: 5px;
      padding-left: 12px;

      font-weight: 700;
      text-transform: uppercase;

      &:first-of-type {
        padding-left: 28px;
      }

      .datatable-header-cell-label {
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        background-color: #F9F9F9;
      }
    }

    /*datatable-header-cell:hover {
      background-color: #FFFF00;
      color: #FFC0CB;
    }*/
  }

  .datatable-body {
    background-color: white;

    // Custom scrollbar
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #f6f6f6;
    }

    &::-webkit-scrollbar-thumb {
      background: #cccccc;
      border-radius: 3px;

      &:active {
        background: #999999;
      }
    }

    .datatable-row-wrapper:has(.active) {
      z-index: 10;
    }

    .datatable-body-row {
      background-color: white;
      padding-top: 3px;

      .datatable-row-center {
        border-style: solid !important;
        border: 1px;
        border-radius: 4px;
        border-color: #F0F0F0;

        &:hover {
          background-color: #F6F6F6;
        }
      }

      datatable-body-cell {
        height: 100% !important;
        width: 100%;
        display: flex;
        align-items: center;
        overflow-y: visible !important;
        overflow-x: visible !important;

        .datatable-body-cell-label {
          width: 100%;
          font-size: 16px;
          line-height: 20px;
          font-family: 'PT Sans';
          color: #333333;
        }
      }
    }

    .empty-row {
      height: 64px;
      background-color: white;
      border-style: solid !important;
      border: 1px;
      border-radius: 4px;
      border-color: #F0F0F0;
      margin-top: 3px;
      padding-top: 22px;
      font-size: 16px;
      line-height: 20px;
      font-family: 'PT Sans';
      color: #333333;
      text-align: center;
    }
  }

  .datatable-footer {
    background-color: #F9F9F9;
    border-style: solid !important;
    border: 1px;
    border-radius: 4px;
    border-color: #F0F0F0;
    padding: 0px 28px;

    font-weight: 700;
    text-transform: uppercase;

    .page-count {
      color: #333333;

      &:hover {
        cursor: default;
      }

      span:first-of-type {
        display: none;
      }
    }

    .datatable-pager {
      li {
        vertical-align: middle;

        a {
          height: 22px;
          min-width: 24px;
          line-height: 24px;
          border-radius: 3px;
          padding: 0 3px;
          margin: 6px 2px;
          text-align: center;
          vertical-align: text-top;
          color: #333333;
          text-decoration: none;

          &:hover {
            color: #333333;
            background-color: #ededed;
          }

          :before {
            vertical-align: text-bottom;
          }
        }

        &.disabled a {
          display: none !important;
        }

        &.active a {
          background-color: #ededed;
        }
      }

      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 20px;
        line-height: 20px;
        padding: 2px 2px 0 2px;
      }
    }
  }
}
