<nav class="header navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="">
    <img src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    INVESTMENTS
  </a>

  <div class="header-nav-bar row" *ngIf="isAuthenticated">
    <div class="header-nav col-xs-6">
      <ul class="nav">
        <li class="nav-item mr-3">
          <a class="nav-link badge badge-info" href="/portfolio"><h4 class="">Portfolio</h4></a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link badge badge-info" href="/users"
             [ngClass]="{ 'disabled': role != 'Admin' }"><h4 class="">Users</h4></a>
        </li>
      </ul>
    </div>

    <div class="col-xs-6">
      <form class="form-inline">
        <span class="username badge badge-primary"><h6>{{ userName }}</h6></span>
        <span class="password badge badge-info"><h6>{{ role }}</h6></span>

        <button class="logout-btn btn btn-outline-danger" type="button" (click)="logout()">Logout</button>
      </form>
    </div>
  </div>
</nav>
