<nav class="header navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    INVESTMENTS
  </a>

  <div class="header-nav-bar row" *ngIf="isAuthenticated">
    <div class="header-nav col-xs-6">
      <ul class="nav">
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Creator' }">
          <a class="nav-link badge badge-info" routerLink="/calculation">
            <h6 class="">Calculation</h6>
          </a>
        </li>
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Creator' }">
          <a class="nav-link badge badge-info" routerLink="/forecasting">
            <h6 class="">Forecasting</h6>
          </a>
        </li>
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Creator' }">
          <a class="nav-link badge badge-info" routerLink="/assessment">
            <h6 class="">Assessment</h6>
          </a>
        </li>
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Writer' }">
          <a class="nav-link badge badge-info" routerLink="/evaluation">
            <h6 class="">Evaluation</h6>
          </a>
        </li>
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Reader' }">
          <a class="nav-link badge badge-info" routerLink="/formation">
            <h6 class="">Formation</h6>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-xs-6">
      <form class="form-inline">
        <a routerLink="/user-page">
          <h6 style="padding-top: 10px; margin-right: 10px; color: white;">{{ userName }} [{{ role }}]</h6>
        </a>

        <a routerLink="/user-page">
          <fa-icon style="color: white;" [icon]="faUser"></fa-icon>
        </a>
      </form>
    </div>

    <div class="col-xs-6" style="margin-left: 30px;" *ngIf="currentUrl == '/'">
      <button class="btn" id="menu-toggle" (click)="onToggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>