<nav class="header navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    INVESTMENTS
  </a>

  <div class="header-nav-bar row" *ngIf="isAuthenticated">
    <div class="header-nav col-xs-6">
      <ul class="nav">
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Creator' }">
          <a class="nav-link badge badge-info" routerLink="/calculation"><h4 class="">Calculation</h4></a>
        </li>
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Creator' }">
          <a class="nav-link badge badge-info" routerLink="/forecasting"><h4 class="">Forecasting</h4></a>
        </li>
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Creator' }">
          <a class="nav-link badge badge-info" routerLink="/assessment"><h4 class="">Assessment</h4></a>
        </li>
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Writer' }">
          <a class="nav-link badge badge-info" routerLink="/evaluation"><h4 class="">Evaluation</h4></a>
        </li>
        <li class="nav-item mr-3" [ngClass]="{ 'd-none': role != 'Admin' && role != 'Reader' }">
          <a class="nav-link badge badge-info" routerLink="/formation"><h4 class="">Formation</h4></a>
        </li>
        <!-- <li class="nav-item ml-3">
          <a class="nav-link badge badge-info" routerLink="/users"
             [ngClass]="{ 'disabled': role != 'Admin' }"><h4 class="">Users</h4></a>
        </li> -->
      </ul>
    </div>

    <div class="col-xs-6">
      <form class="form-inline">
        <a routerLink="/user-page">
          <span class="username badge badge-primary">
            <h6>{{ userName }}</h6>
          </span>
          <span class="password badge badge-info">
            <h6>{{ role }}</h6>
          </span>
        </a>

        <button class="logout-btn btn btn-outline-danger" type="button" (click)="logout()">Logout</button>
      </form>
    </div>
  </div>
</nav>